{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h1> Modifier mon mot de passe </h1>
    <div class="alert alert-info"> {{ notif }}</div>
    {{ form(form) }}
         <a href="{{ path('account') }}"> retour en compte </a>

{% endblock %}
